body {
	font-family: sans-serif;
}

h1 {
	display: inline-block;
}

div.header {
	color: orange;
	background-color: gray;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

span.korisnik {
	float: right;
	padding: 20px;
}

div.forma {
	background-color: lightgray;
	padding: 20px;
	display: flex;
}

input:invalid {
  	background-color: white;
}

table.info > tr > td {
    border-bottom: 1px solid black;
    padding: 5px;
    padding-right: 20px;
}

.map {
	height: 300px;
	width: 500px;
	border: 2px solid black;
	display: inline-block;
}

.manifestacija-mali {
	float: left;
	width: 300px;
	height: 300px;
	border: 1px solid gray;
	margin: 5px;
	padding: 10px;
}

.poster-mali:hover {
	border: 2px solid orange;
}

.poster {
	margin: 20px;
	float: left;
	width: 400px;
	height: 600px;
}

.komb-pretraga {
	padding: 20px;
	background-color: lightgray;
}


.dropbtn {
	background-color: orange;
	color: white;
	padding: 5px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin: 3px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 180px;
	max-height: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	overflow: scroll;
}

.dropdown:hover .dropdown-content {display: block;}
