div.vdp-datepicker{ 
	display: inline;
}

body {
	font-family: sans-serif;
}

h1 {
	display: inline-block;
}

div.header {
	background-color: gray;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

span.korisnik {
	float: right;
	padding: 20px;
}

div.forma {
	background-color: lightgray;
	padding: 20px;
}