body {
	font-family: sans-serif;
}

h1 {
	display: inline-block;
}

div.header {
	color: orange;
	background-color: gray;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

span.korisnik {
	float: right;
	padding: 20px;
}

div.forma {
	background-color: lightgray;
	padding: 20px;
	display: flex;
}

input:invalid {
  	background-color: white;
}

table.korisnik-info > tr > td {
    border-bottom: 1px solid black;
    padding: 5px;
    padding-right: 20px;
}

.map {
	height: 300px;
	width: 500px;
	border: 2px solid black;
}

.manifestacija-mali {
	float: left;
	width: 300px;
	height: 300px;
	border: 1px solid gray;
	margin: 5px;
	padding: 10px;
}

.poster-mali:hover {
	border: 2px solid orange;
}

.komb-pretraga {
	padding: 10px;
	background-color: lightgray;
}